body{
      margin: 0;
      background-image: url(background3.jpg);
      background-size: 100% ;
}
.cerceve{ 
          width:34.8%;
          background-color: #f4f4f4;
          height:455px; 
          margin: 8% auto;
          border-radius: 7px;
          text-align: center;
          border: 2px solid #e2405f;
        }
.cerceve img{
            border-radius: 100px;
            margin-top:20px;
        }
.form{
           height: 20px;
           width: 50%;
           border-radius: 3px;
           margin-top: 10px;
       }
input[type="submit"]{
           width: 100px;
           height: 28px;
           color: #4f332f;
           border: 1px solid #ea9393;
           margin-top: 35px;
       }
div{
      color: #4f332f;
   }
.cerceve a{
      color: #ea9393;
   }


